@font-face{
    font-family: 'NunitoSans';
    src: url(../fonts/Nunito/NunitoSans-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'NunitoSans';
    src: url(../fonts/Nunito/NunitoSans-Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}